/**************** globals ******************/

$font-stack: Helvetica, sans-serif;
$primary-color: #ff0000;
$secondary-color: #1b998a;
$primary-color-light: #392347;
$secondary-color-dark: #18897c;
$text-background: rgba(255, 255, 255, 0.75);
$text-dystopia: black;
$text-dystopia-name: #800000;
$text-utopia: #042f66;
$text-utopia-name: #800000;

$border-gradient: linear-gradient(to right, red, yellow);

/**************** resets ******************/

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  overflow: scroll;
}

p {
  margin-top: 10px;
  margin-bottom: 0;
}

.text__link {
  text-decoration: none;
}

/**************** page ******************/

.page {
  height: 100%;
  background-color: black;
  z-index: -1;
}

.page--purple {
  height: 100%;
  background-color: #582f73;
  z-index: -1;
}

.page__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/**************** modal ******************/

.modal__container {
  height: 100%;
  z-index: 1;
}

.modal__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.modal__container--flyer {
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.modal__image--flyer {
  position: relative;
  top: 0;
  left: 30vw;
  height: 100%;
  width: auto;
}

.modal__container--paper {
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.modal__image--paper {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
}

/**************** clickable ******************/

.clickable:hover {
  background-color: $primary-color;
  opacity: 0.25;
}

.clickable--svg {
  fill-opacity: 0;
}

.clickable--svg:hover {
  fill: $primary-color;
  fill-opacity: 0.25;
}

/**************** SVG ******************/

.svg__container--back {
  display: inline-block;
  position: absolute;
  top: 25vh;
  left: 0vw;
  height: 50vh;
  width: 20vw;
  vertical-align: middle;
  overflow: hidden;
}

.svg__content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/**************** Back Button ******************/

.back-button__container--dystopia {
  position: absolute;
  top: 40vh;
  left: 0.5vw;
}

.back-button__container--dystopia:hover {
  position: absolute;
  top: 39.5vh;
  left: 0vw;
}

.back-arrow--dystopia {
  width: 15vw;
}

.back-button__container--utopia {
  position: absolute;
  top: 45vh;
  left: 2vw;
}

.back-button__container--utopia:hover {
  position: absolute;
  top: 44.5vh;
  left: 1.5vw;
}
.back-arrow--utopia {
  width: 4vw;
}

/**************** Close Button ******************/

.close-button__container {
  position: absolute;
  top: 0.5vh;
  left: 0.5vw;
}

.close-button__container:hover {
  position: absolute;
  top: 0vh;
  left: 0vw;
}

.close-icon--dystopia {
  width: 15vw;
}

.close-icon--dystopia:hover {
  cursor: pointer;
}

/**************** Down Button ******************/

.down-button__container {
  position: absolute;
  bottom: 1vh;
  left: 47.5vw;
}

.down-button__container:hover {
  position: absolute;
  bottom: 1.5vh;
  left: 47.75vw;
}

.down-arrow {
  width: 5vw;
}

/**************** Next Button ******************/

.next-button__container--dystopia {
  position: absolute;
  top: 40vh;
  right: 0.5vw;
}

.next-button__container--dystopia:hover {
  position: absolute;
  top: 39.5vh;
  right: 0vw;
}

.next-arrow--dystopia {
  width: 15vw;
}

.next-button__container--utopia {
  position: absolute;
  top: 45vh;
  right: 2vw;
}

.next-button__container--utopia:hover {
  position: absolute;
  top: 44.5vh;
  right: 1.5vw;
}

.next-arrow--utopia {
  width: 4vw;
}

/**************** Border Button ******************/

.border-button__container {
  height: 100%;
  width: 100%;
}
.border-button__container:hover {
  border: 10px solid red;
  border-radius: 15px;
}

/**************** Dialogue ******************/

//shared
.dialogue {
  position: absolute;
  top: 5vh;
  left: 15vw;
  width: 70%;
  border-radius: 10px;
  background-color: $text-background;
  padding: 10px;
}

.dialogue--bottom {
  position: absolute;
  bottom: 5vh;
  left: 15vw;
  width: 70%;
  border-radius: 10px;
  background-color: $text-background;
  padding: 10px;
}

.dialogue--noMsgs {
  position: absolute;
  top: 5vh;
  left: 15vw;
  width: 70%;
  border-radius: 10px;
  background-color: $text-background;
  padding: 0 10px 10px 10px;
}

.dialogue--bottom--noMsgs {
  position: absolute;
  bottom: 5vh;
  left: 15vw;
  width: 70%;
  border-radius: 10px;
  background-color: $text-background;
  padding: 0 10px 10px 10px;
}

.dialogue--bottom--short {
  position: absolute;
  bottom: 5vh;
  left: 15vw;
  width: 50%;
  border-radius: 10px;
  background-color: $text-background;
  padding: 10px;
}

.dialogue__container--icon {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

//dystopia

.dialogue__icon--dystopia {
  width: 5vw;
}

.dialogue__text--dystopia {
  color: $text-dystopia;
  font-size: large;
  font-weight: bold;
  font-family: "courier";
}

.dialogue__text--dystopia--name {
  color: $text-dystopia-name;
  font-size: large;
  font-weight: bold;
  font-family: "courier";
}

.dialogue__text--dystopia--clickable {
  color: $text-dystopia;
  font-size: large;
  font-weight: bold;
  font-family: "courier";
}

.dialogue__text--dystopia--clickable:hover {
  color: $primary-color;
}

//utopia

.dialogue__text--utopia {
  color: $text-utopia;
  font-size: large;
  font-weight: bold;
  font-family: "calibri";
}

.dialogue__text--utopia--name {
  color: $text-utopia-name;
  font-size: large;
  font-weight: bold;
  font-family: "calibri";
}

.dialogue__text--utopia--clickable {
  color: $text-utopia;
  font-size: large;
  font-weight: bold;
  font-family: "calibri";
}

.dialogue__text--utopia--clickable:hover {
  color: $primary-color;
}

.dialogue__icon--utopia {
  width: 1.5vw;
}

/**************** Link Button ******************/

.link-button__svg--box {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.link-button__svg {
  fill-opacity: 0;
}

.link-button__svg:hover {
  fill-opacity: 0.75;
}

/**************** Open Button ******************/

.open-button__svg {
  fill-opacity: 0;
}

.open-button__svg:hover {
  fill-opacity: 0.75;
  cursor: pointer;
}

/**************** Landing ******************/

.LP1__button {
  position: absolute;
  top: 44vh;
  left: 21vw;
  height: 14vh;
  width: 58vw;
}

.LP4__button--utopia {
  position: absolute;
  top: 88vh;
  left: 26.5vw;
  height: 6.5vh;
  width: 16.5vw;
}

.LP4__button--dystopia {
  position: absolute;
  top: 88vh;
  left: 55vw;
  height: 6.5vh;
  width: 22.25vw;
}

.LP__text_container {
  position: absolute;
  top: 25vh;
  left: 25vw;
  width: 50vw;
  text-align: center;
}

.LP__text_container--end {
  position: absolute;
  top: 75vh;
  left: 25vw;
  width: 50vw;
  text-align: center;
}

.LP__text {
  color: green;
  font-family: "courier";
  font-size: larger;
}

.LP__text--clickable {
  color: green;
  font-family: "courier";
  font-size: larger;
}

.LP__text--clickable:hover {
  color: yellow;
}

.LP__text--bold {
  color: green;
  font-weight: bold;
  font-family: "courier";
  font-size: larger;
}

.end__container {
  margin: 40px;
  text-decoration: none;
}

/**************** Dystopia ******************/

.dystopia__button--exit {
  position: absolute;
  top: 90.2vh;
  left: 76.61vw;
  height: 4.5vh;
  width: 8.9vw;
}

.p1A__button--entry {
  position: absolute;
  top: 90vh;
  left: 12vw;
  height: 5vh;
  width: 27vw;
}

/**************** fade ins ******************/

.fade-in {
  animation: fadeIn ease 1.5s;
  -webkit-animation: fadeIn ease 1.5s;
  -moz-animation: fadeIn ease 1.5s;
  -o-animation: fadeIn ease 1.5s;
  -ms-animation: fadeIn ease 1.5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in--slow {
  animation: fadeIn ease 2.5s;
  -webkit-animation: fadeIn ease 2.5s;
  -moz-animation: fadeIn ease 2.5s;
  -o-animation: fadeIn ease 2.5s;
  -ms-animation: fadeIn ease 2.5s;
}

.fade-in--slower {
  animation: fadeIn ease 15s;
  -webkit-animation: fadeIn ease 15s;
  -moz-animation: fadeIn ease 15s;
  -o-animation: fadeIn ease 15s;
  -ms-animation: fadeIn ease 15s;
}

.bubble-fade {
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  -moz-animation: fadeIn ease 4s;
  -o-animation: fadeIn ease 4s;
  -ms-animation: fadeIn ease 4s;
}

/**************** Transitions ******************/

.page--transition {
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.page--transition.active {
  opacity: 1;
}

.page--lazy {
  height: 100%;
  opacity: 0;
  transition: opacity 7s ease-in-out;
}

.page--lazy.active {
  opacity: 1;
}

.page--slow {
  height: 100%;
  opacity: 0;
  transition: opacity 4s ease-in-out;
}

.page--slow.active {
  opacity: 1;
}

.page--mono {
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in;
}

.page--mono.active {
  opacity: 1;
}

.page__image--glimpse {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.page__image--glimpse.active {
  opacity: 1;
}
