/**************** globals ******************/
/**************** resets ******************/
* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  overflow: scroll;
}

p {
  margin-bottom: 0;
}

.text__link {
  text-decoration: none;
}

/**************** page ******************/
.page {
  height: 100%;
  background-color: black;
  z-index: -1;
}

.page__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/**************** modal ******************/
.modal__container {
  height: 100%;
  background-color: black;
  z-index: 1;
}

.modal__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/**************** clickable ******************/
.clickable:hover {
  background-color: #ff0000;
  opacity: 0.25;
}

.clickable--svg {
  fill-opacity: 0;
}

.clickable--svg:hover {
  fill: #ff0000;
  fill-opacity: 0.25;
}

/**************** SVG ******************/
.svg__container--back {
  display: inline-block;
  position: absolute;
  top: 25vh;
  left: 0vw;
  height: 50vh;
  width: 20vw;
  vertical-align: middle;
  overflow: hidden;
}

.svg__content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/**************** Back Button ******************/
.back-button__container {
  position: absolute;
  top: 40vh;
  left: 0.5vw;
}

.back-button__container:hover {
  position: absolute;
  top: 39.5vh;
  left: 0vw;
}

.back-arrow--dystopia {
  width: 15vw;
}

/**************** Next Button ******************/
.next-button__container {
  position: absolute;
  top: 40vh;
  right: 0.5vw;
}

.next-button__container:hover {
  position: absolute;
  top: 39.5vh;
  right: 0vw;
}

.next-arrow--dystopia {
  width: 15vw;
}

/**************** Border Button ******************/
.border-button__container {
  height: 100%;
  width: 100%;
}

.border-button__container:hover {
  border: 10px solid red;
  border-radius: 15px;
}

/**************** Dialogue ******************/
.dialogue {
  position: absolute;
  top: 5vh;
  left: 15vw;
  width: 70%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 10px;
}

.dialogue--bottom {
  position: absolute;
  bottom: 5vh;
  left: 15vw;
  width: 70%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 10px;
}

.dialogue__container--icon {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.dialogue__icon--dystopia {
  width: 5vw;
}

.dialogue__text--dystopia {
  color: black;
  font-size: large;
  font-weight: bold;
  font-family: "courier";
}

.dialogue__text--dystopia--name {
  color: #800000;
  font-size: large;
  font-weight: bold;
  font-family: "courier";
}

.dialogue__text--dystopia--clickable {
  color: black;
  font-size: large;
  font-weight: bold;
  font-family: "courier";
}

.dialogue__text--dystopia--clickable:hover {
  color: #ff0000;
}

.dialogue__text--utopia {
  color: #042f66;
  font-size: large;
  font-weight: bold;
  font-family: "calibri";
}

.dialogue__text--utopia--name {
  color: #800000;
  font-size: large;
  font-weight: bold;
  font-family: "calibri";
}

.dialogue__text--utopia--clickable {
  color: #042f66;
  font-size: large;
  font-weight: bold;
  font-family: "calibri";
}

.dialogue__text--utopia--clickable:hover {
  color: #ff0000;
}

/**************** Link Button ******************/
.link-button__svg--box {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.link-button__svg {
  fill-opacity: 0;
}

.link-button__svg:hover {
  fill-opacity: 0.75;
}

/**************** Landing ******************/
.LP1__button {
  position: absolute;
  top: 44vh;
  left: 21vw;
  height: 14vh;
  width: 58vw;
}

.LP4__button--utopia {
  position: absolute;
  top: 88vh;
  left: 26.5vw;
  height: 6.5vh;
  width: 16.5vw;
}

.LP4__button--dystopia {
  position: absolute;
  top: 88vh;
  left: 55vw;
  height: 6.5vh;
  width: 22.25vw;
}

.LP__text_container {
  position: absolute;
  top: 25vh;
  left: 25vw;
  width: 50vw;
  text-align: center;
}

.LP__text_container--end {
  position: absolute;
  top: 75vh;
  left: 25vw;
  width: 50vw;
  text-align: center;
}

.LP__text {
  color: green;
  font-family: "courier";
  font-size: larger;
}

.LP__text--bold {
  color: green;
  font-weight: bold;
  font-family: "courier";
  font-size: larger;
}

/**************** Dystopia ******************/
.dystopia__button--exit {
  position: absolute;
  top: 90.2vh;
  left: 76.61vw;
  height: 4.5vh;
  width: 8.9vw;
}

.p1A__button--entry {
  position: absolute;
  top: 90vh;
  left: 12vw;
  height: 5vh;
  width: 27vw;
}

/**************** fade ins ******************/
.fade-in {
  animation: fadeIn ease 1.5s;
  -webkit-animation: fadeIn ease 1.5s;
  -moz-animation: fadeIn ease 1.5s;
  -o-animation: fadeIn ease 1.5s;
  -ms-animation: fadeIn ease 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.bubble-fade {
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  -moz-animation: fadeIn ease 4s;
  -o-animation: fadeIn ease 4s;
  -ms-animation: fadeIn ease 4s;
}

/**************** Transitions ******************/
.page--transition {
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.page--transition.active {
  opacity: 1;
}

.page--slow {
  height: 100%;
  opacity: 0;
  transition: opacity 4s ease-in-out 2s;
}

.page--slow.active {
  opacity: 1;
}

.page--mono {
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in;
}

.page--mono.active {
  opacity: 1;
}

/*# sourceMappingURL=output.css.map */
